<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-grid.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/solid.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/solid.min.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/svg-with-js.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/svg-with-js.min.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/v4-shims.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/v4-shims.min.css">
        <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.bundle.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
        <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
        <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
        <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/regular.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/regular.min.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/solid.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/solid.min.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/v4-shims.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/v4-shims.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../stylesheets/dark-theme.css">
        <script src="../script/scripts.js"></script>
        <title>Rating</title>
    </head>
    <body>
        
       
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <img src="../images/logo-images/logo2.png">
                        </center>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <p class="page-heading">
                                RATE YOUR EXPERIENCE
                            </p>
                        </center>
                    </div>
                </div>
                <div class="row section">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <center>
                                        <p class="rating-heading">
                                            FOOD
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-12">
                                        <center>
                                            <div class="star-container">
                                                    <span></span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row section">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <center>
                                            <p class="rating-heading">
                                                APP
                                            </p>
                                        </center>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12">
                                            <center>
                                            <div class="star-container">
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                    <span><img src="../stylesheets/fontawesome-free-5.11.2-web/svgs/solid/star.svg"></span>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <center>
                                        <button type="button" class="btn btn-success proceed-button">SUBMIT</button>
                                    </center>
                                </div>
                            </div>
                        </div>        
            </div>
        </main>
        <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Powered by: SFOYO</p>
                        </div>
                    </div>
                </div>
            </footer>
        </body>
        </html>