<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-grid.css">
                <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css">
                <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-reboot.css">
                <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
                <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap.css">
                <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/all.css">
                <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.bundle.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
                <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
                <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
                <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
                <script src="../stylesheets/fontawesome-free-5.11.2-web/js/all.js"></script>
                <script src="../script/jquery/jquery.js"></script>
                <link type="text/css" rel="stylesheet" href="../stylesheets/dark-theme.css">
                <script src="../script/scripts.js"></script>
                <script src="../script/main.js"></script>
                <title>Rating</title>
            </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <img src="../images/logo-images/logo2.png">
                        </center>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <center>    
                            <p class="page-heading">
                                RATE YOUR EXPERIENCE
                            </p>
                        </center>
                    </div>
                </div>
                <div class="row section">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <center>
                                        <p class="rating-heading">
                                            FOOD
                                        </p>
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <center>
                                        <div class="stars star-container">
                                            <span class="far fa-star food" id="food-star-1" onclick="setRating(1,'food')"></span>
                                            <span class="far fa-star food" id="food-star-2" onclick="setRating(2,'food')"></span>
                                            <span class="far fa-star food" id="food-star-3" onclick="setRating(3,'food')"></span>
                                            <span class="far fa-star food" id="food-star-4" onclick="setRating(4,'food')"></span>
                                            <span class="far fa-star food" id="food-star-5" onclick="setRating(5,'food')"></span>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row section">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <center>
                                            <p class="rating-heading">
                                                APP
                                            </p>
                                        </center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <center>
                                            <div class="stars star-container">
                                            <span class="far fa-star app" id="app-star-1" onclick="setRating(1,'app')"></span>
                                            <span class="far fa-star app" id="app-star-2" onclick="setRating(2,'app')"></span>
                                            <span class="far fa-star app" id="app-star-3" onclick="setRating(3,'app')"></span>
                                            <span class="far fa-star app" id="app-star-4" onclick="setRating(4,'app')"></span>
                                            <span class="far fa-star app" id="app-star-5" onclick="setRating(5,'app')"></span>
                                        </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <center>
                                        <form action="http://localhost/Project/app-e-tite/template/screen-saver.html" method="POST">
                                            <button type="submit" class="btn btn-success proceed-button">SUBMIT</button>
                                        </form>
                                    </center>
                                </div>
                            </div>
                        </div>        
            </div>
        </main>
        <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Powered by: SFOYO</p>
                        </div>
                    </div>
                </div>
            </footer>
<script>
    $(document).ready(function() {
        var section_height = (parseInt($(window).height()) - parseInt($("header").css("height")) - parseInt($(".page-heading").css("height")) - parseInt($(".section").css("height"))) / 4;
        $(".section").css("padding", section_height+"px 0px");

        setInterval(function() {
            window.location.assign("http://localhost/Project/app-e-tite/screen-saver.html");
        }, 30000);
    });
</script>
        

        </body>
        </html>