<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-grid.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/solid.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/solid.min.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/svg-with-js.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/svg-with-js.min.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/v4-shims.css">
        <link rel="stylesheet" href="../stylesheets/fontawesome-free-5.11.2-web/css/v4-shims.min.css">
        <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.bundle.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
        <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
        <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
        <script src="../stylesheets/bootstrap-4.3.1-dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/regular.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/regular.min.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/solid.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/solid.min.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/v4-shims.js"></script>
        <script src="../stylesheets/fontawesome-free-5.11.2-web/js/v4-shims.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../stylesheets/dark-theme.css">
        <script src="../script/scripts.js"></script>
        <title>Review Order</title>
    </head>
    <body>
        
       
        <button onclick="topFunction()" id="myBtn" title="Go to top">↑</button>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <img src="../images/logo-images/logo2.png">
                        </center>
                    </div>
                </div>
            </div>
        </header>
       <main>
            <div class="container-fliud">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card submenu-container">
                            <p class="card-heading submenu-heading"><span class="">+</span> Food</p>
                            <div class="items-container">
                                <div class="container-fluid">
                                    <div class="row items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/burger.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Burger</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/fries.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Fries</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/pasta.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Pasta</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/momos.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Momos</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/biscuit.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Biscuit</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/chicken.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Chicken</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/samosa.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Samosa</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card submenu-container">
                            <p class="card-heading submenu-heading"><span class="">+</span> Drinks</p>
                            <div class="items-container">
                                <div class="container-fluid">
                                    <div class="row items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/burger.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Burger</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/fries.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Fries</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/pasta.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Pasta</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/momos.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Momos</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/biscuit.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Biscuit</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/chicken.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Chicken</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/samosa.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Samosa</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card submenu-container">
                            <p class="card-heading submenu-heading"><span class="">+</span> Beverages</p>
                            <div class="items-container">
                                <div class="container-fluid">
                                    <div class="row items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/burger.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Burger</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/fries.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Fries</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/pasta.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Pasta</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/momos.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Momos</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/biscuit.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Biscuit</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/chicken.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Chicken</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/samosa.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Samosa</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card submenu-container">
                            <p class="card-heading submenu-heading"><span class="">+</span> Deserts</p>
                            <div class="items-container">
                                <div class="container-fluid">
                                    <div class="row items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/burger.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Burger</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/fries.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Fries</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/pasta.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Pasta</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/momos.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Momos</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/biscuit.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Biscuit</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/chicken.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Chicken</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  items">
                                        <div class="col-sm-3">
                                            <center>
                                                <img src="../images/food-images/samosa.jpg" class="rounded item-img">
                                            </center>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="item-name">Samosa</p>
                                            <p class="item-desc">(the example of the desc goes here....)</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="quantity-btn-container">
                                                <button type="button" class="btn btn-danger quantity-btn">-</button>
                                                <p class="quantity-text">0</p>
                                                <button type="button" class="btn btn-danger quantity-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br><br>
                <div class="button-container">
                    <div class="row">
                        <div class="col-md-6">
                            <center>
                                <button type="button" class="btn btn-success proceed-button">ADD MORE</button>
                            </center>
                        </div>
                        <div class="col-md-6">
                                <center>
                                    <button type="button" class="btn btn-success proceed-button">PLACE ORDER</button>
                                </center>
                            </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <p>Powered by: SFOYO</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>